ul {
  list-style: none;
}

body {
  margin: 0px;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 텍스트 색상을 부모 요소와 동일하게 */
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: stretch;
}

.color-bar {
  grid-column: 1 / span 3;
}

.header {
  grid-column: 2 / span 2;
}

.header ul {
  display: grid;
  grid-template-columns: repeat(8, minmax(70px, 1fr));
  justify-content: end;
  justify-items: end;
  color: #707070;
  font-size: 10px;
}

.search {
  grid-column: 1 / span 3;
  margin-left: 80px;
  margin-right: 80px;
}

.search img,
.search form {
  display: inline-block;
  vertical-align: middle;
}

.search form {
  margin-left: 20px;
}

.search form input {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  height: 45px;
  width: 300px;
  padding-left: 10px;
}

.search form button {
  border: none;
  height: 48px;
  background-color: #c58111;
  color: white;
  border-radius: 5px;
  width: 80px;
}

.nav {
  grid-column: 1 / span 3;
}

.nav ul {
  margin-left: 80px;
  margin-right: 80px;
  color: #707070;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(6, minmax(70px, 1fr));
  justify-items: center;
}

.accounts {
  grid-column: 1 / span 3;
  background-color: #fafafa;
  border: 1px solid #d5d5d5;
  color: #707070;
  padding-left: 80px;
  padding-right: 80px;
}

.accounts form p input {
  border: 1px solid #bbbbbb;
  padding: 0 10px;
  border-radius: 5px;
  width: 120px;
  height: 30px;
}

.accounts form p,
.accounts form button,
.accounts form a {
  display: inline-block;
}

.accounts form button,
.accounts form a {
  border-radius: 5px;
  width: 120px;
  height: 32px;
}

.accounts form {
  display: flex;
  align-items: center;
}

.accounts form button {
  background-color: black;
  color: white;
}

.accounts div {
  display: inline-block;
}

.accounts a {
  background-color: #c58111;
  color: white;
  font-size: 13px;
}

.first_category_li {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 10px;
  min-width: 110px;
}

.first_category_img_list {
  height: 28px;
  width: 28px;
  margin-right: 5px;
}

footer {
  grid-column: 1 / span 3;
}

.content_text {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 0 10px;
}

.content_text p {
  font-weight: bold;
}

.register_username input {
  border: 1px solid #bbbbbb;
  padding: 0 10px;
  border-radius: 5px;
  width: 120px;
  height: 30px;
}

.register_username {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.register_username button {
  background-color: #c58111;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register_username button:disabled {
  background-color: #fafafa;
  border: 1px solid #d5d5d5;
  color: #707070;
  border-radius: 5px;
}

.form_text {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 10px 20px;
}

.form_text form {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
}

.form_text div {
  display: block;
  margin: 10px 0px;
}

.form_text span {
  color: #dd4040;
}

.form_text input {
  border: 1px solid #bbbbbb;
  padding: 0 10px;
  border-radius: 5px;
  width: 120px;
  height: 30px;
}

.form_text a {
  background-color: black;
  width: 100px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}