body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

header {
  background-color: #f7f7f7;
}

.header_menu {
  list-style: none;
  display: flex;
  position: fixed;  /* 화면에 고정 */
  top: 15px;  /* 화면 상단으로 고정 */
  right: 0;  /* 왼쪽에서부터 배치 */
  z-index: 10;
  margin: 0;
  height: 24px;
  white-space: nowrap; /* 메뉴 항목이 줄 바꿈되지 않게 함 */
  overflow: hidden;  /* 화면 크기 줄이면 메뉴가 잘리도록 함 */
}

.header_menu li {
  margin: 0 10px;
}

.header_menu a {
  text-decoration: none;
  color: #707070;
  font-size: 16px;
}

.search img {
  position: absolute;
  top: 57px;
  left: 300px;
  z-index: 10;
}

.search form {
  position: absolute;
  width: 500px;
  height: 50px;
  top: 57px;
  left: 687px;
  display: flex; /* form 내 요소들을 가로로 배치 */
  align-items: center; /* 세로로 가운데 정렬 */
}

.search input[type="text"] {
  width: 350px;
  height: 30px;
  padding: 8px;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search button {
  padding: 12px 12px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.search button:hover {
  background-color: #0056b3;
}

.secondary-menu {
  list-style: none;
  display: flex;
  position: fixed;  /* 화면에 고정 */
  justify-content: center; /* 메뉴 항목을 수평 중앙 정렬 */
  top: 120px;  /* 첫 번째 메뉴 아래에 위치 */
  z-index: 9;  /* 첫 번째 메뉴보다 아래에 배치 */
  margin: 0;
  width: 100%;
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 화면 크기 줄이면 메뉴가 잘리도록 함 */
}

.secondary-menu-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.secondary-menu-list li {
  /* text-align: center; */
  margin: 0 40px;
}

.secondary-menu a {
  text-decoration: none;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
}

/* 로그인 폼 스타일 */
.account {
  width: 100%;
  position: absolute;
  top: 175px;
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding-left: 300px;
}

.account_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 1340px;
  left: 200px;
}

.account_form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%; /* 입력창이 화면 너비에 맞게 크기 조정 */
}

.account_p {
  display: flex;
  text-align: center;
  align-items: center;
}

.account_p label {
  width: 100px;
}

button {
  padding: 8px 12px;
  border: 1px solid #21a9ff;
  background-color: #21a9ff;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #707070;
  cursor: pointer;
  z-index: 11;
}

.main_content {
  position: absolute;
  top: 280px;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center; /* 중앙 배치 */
  /* white-space: nowrap;  */
}

.main_content main {
  margin-left: 20px;
  margin-right: 40px;
  flex-grow: 1; /* main이 가능한 공간을 모두 차지하도록 설정 */
}

.main_content> article {
  width: 180px;
}

/* 반응형 스타일 추가 */
@media (max-width: 768px) {
  .header_menu {
    display: none; /* 기본 상태: 메뉴 숨김 */
    position: fixed; /* 고정 위치 */
    top: 0;
    left: -100%; /* 화면 밖으로 숨김 */
    width: 66.66%; /* 화면의 2/3 너비 */
    height: 100%; /* 화면 전체 높이 */
    background-color: #f7f7f7; /* 메뉴 배경색 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    flex-direction: column; /* 세로 정렬 */
    padding-top: 80px;
    transition: left 0.3s ease; /* 부드러운 이동 효과*/
    justify-content: flex-start;
  }

  /* 메뉴 활성화 상태 */
  .header_menu.active, .secondary-menu.active {
    display: flex; /* 메뉴 보이기 */
    left: 0; /* 화면 안으로 이동 */
    z-index: 14;
  }

  .header_menu li {
    margin-bottom: 10px;
    margin-left: 0;
  }

  /* .header_menu li {
    margin-top: 10px;
    margin-bottom: 10px;
  } */

  .hamburger {
    display: block; /* 햄버거 아이콘 보이기 */
    position: fixed;
    z-index: 15; /* 메뉴보다 위에 표시 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    font-size: 24px; /* 크기 조정 */
    cursor: pointer; /* 클릭 가능 표시 */
    margin-left: 4px;
  }
  .header_menu a {
    font-size: 20px; /* 모바일에서 글자 크기 조금 작게 */
    font-weight: bold;
  }

  /* nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav form {
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  } */

  .secondary-menu {
    display: none; /* 기본 상태: 메뉴 숨김 */
    position: fixed; /* 고정 위치 */
    left: -100%; /* 화면 밖으로 숨김 */
    width: 66.66%; /* 화면의 2/3 너비 */
    flex-direction: column; /* 세로 정렬 */
    padding-top: 160px;
    transition: left 0.3s ease; /* 부드러운 이동 효과*/
    margin-top: 80px;
  }

  .secondary-menu-list {
    display: flex;
    flex-direction: column; 
    list-style: none;
    padding: 0;
    justify-content: flex-start;
  }

  .secondary-menu-list li {
    /* border: 1px solid #ccc; */
    width: 100px;
    margin-bottom: 10px;
  }

  .secondary-menu-list a {
    font-size: 20px; /* 모바일에서 글자 크기 조금 작게 */
    font-weight: bold;
  } 

  .account {
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: column; /* 수직 방향으로 변경 */
    width: 100%; /* 부모 요소 너비에 맞게 설정 */
    padding: 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    height: auto; /* 화면 크기에 맞춰 높이를 자동으로 설정 */
  }

  .account_form {
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
  }

  /*
  .search {
    flex-direction: column; 세로로 정렬 
    align-items: center; 왼쪽 정렬 
    justify-content: flex-start;
    margin: 20px 80px 0px 80px;
  }*/

  .search {
    display: flex; /* 부모 요소를 Flex 컨테이너로 설정 */
    justify-content: center; /* 자식 요소를 수평 가운데 정렬 */
    align-items: center; /* 자식 요소를 수직 가운데 정렬 */
    flex-direction: column; /* 세로 방향으로 정렬 */
  }

  .search img {
    margin-top: 20px;
    margin-bottom: 20px;
    position: static; /* absolute를 제거하여 Flexbox 규칙 적용 */
  }
  .search form {
    position: static; /* absolute를 제거하여 Flexbox 규칙 적용 */
    width: 100%; /* 부모 너비에 맞게 */
    max-width: 400px; /* 최대 너비 제한 */
    display: flex;
    flex-direction: row; /* 가로로 정렬 */
    justify-content: center; /* 검색창과 버튼 중앙 정렬 */
  }

  .search input[type="text"] {
    flex: 1; /* 검색창이 가능한 공간을 차지하도록 설정 */
    margin-right: 5px; /* 검색창과 버튼 간의 간격 추가 */
  }

  .search button {
    flex-shrink: 0; /* 버튼 크기를 줄이지 않음 */
  }
  .btn {
    margin-bottom: 10px;
  }

  .main_content {
    position: absolute;
    top: 350px;
    right: 0;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center; /* 중앙 배치 */
    white-space: nowrap; /* 줄 바꿈 방지 */
  }

  .account {
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: row; /* 수직 방향으로 변경 */
    width: 100%; /* 부모 요소 너비에 맞게 설정 */
    padding: 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    height: auto; /* 화면 크기에 맞춰 높이를 자동으로 설정 */
  }

  .account_form {
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
  }
}

@media (max-width: 480px) {
  .header_menu {
    font-size: 16px;
  }

  nav input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 5px;
  }

  footer {
    font-size: 12px;
  }

  .account {
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: row; /* 수직 방향으로 변경 */
    width: 100%; /* 부모 요소 너비에 맞게 설정 */
    padding: 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    height: auto; /* 화면 크기에 맞춰 높이를 자동으로 설정 */
  }

  .account_form {
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
  }
  
}

.first_category_li {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.first_category_img_list {
  width: 30px;
  margin-right: 10px;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
  padding: 0; /* 기본 여백 제거 */
  margin: 0; /* 기본 여백 제거 */
  font-size: inherit; /* 부모 요소의 글꼴 크기 상속 */
}

.content_register {
  text-align: left;
}

.content_text {
  width: 825px;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #707070;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: small;
}

.content_text > p {
  font-weight: bold;
}

.register_username{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.register_username div{
  display: flex;
  text-align: left;
  align-items: center;
  
}

.register_username label{
  width: 80px;
}

.register_username input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}

.nextStepButton:disabled {
  background-color: #707070; /* 비활성화된 버튼 배경색 */
  color: white; /* 비활성화된 버튼 텍스트 색상 */
  cursor: not-allowed; /* 커서 모양 */
}

.color_red{
  color: red;
}

.content_text label{
  width: 80px;
}

.content_text input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}

.content_text a{
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #21a9ff;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.content_text_merge{
  margin-bottom: 15px;
}

/* 공통 스타일 */
form {
  width: 100%;
}

div.table-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

div.table-row {
  display: table-row;
}

div.table-cell {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}

/* 라벨 스타일 */
label {
  font-weight: bold;
}

/* 필수 항목 강조 */
.color_red {
  color: red;
}

/* 입력 필드 스타일 */
/* 링크 스타일 */

a:hover {
  text-decoration: underline;
}

/* 추가 여백 스타일 */
label + input {
  margin-left: 10px;
}