ul {
  list-style: none;
}

body {
  margin: 0px;
}
a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 텍스트 색상을 부모 요소와 동일하게 */
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: stretch;
}

.color-bar {
  grid-column: 1 / span 3;
}

.header {
  grid-column: 2 / span 2;
}

.header ul {
  display: grid;
  grid-template-columns: repeat(8, minmax(70px, 1fr));
  justify-content: end;
  justify-items: end;
  color: #707070;
  font-size: 10px;
}

.search {
  grid-column: 1 / span 3;
  margin-left: 80px;
  margin-right: 80px;
}

.search img,
.search form {
  display: inline-block;
  vertical-align: middle;
}

.search form {
  margin-left: 20px;
}

.search form input {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  height: 45px;
  width: 300px;
  padding-left: 10px;
}

.search form button {
  border: none;
  height: 48px;
  background-color: #c58111;
  color: white;
  border-radius: 5px;
  width: 80px;
}

.nav {
  grid-column: 1 / span 3;
}

.nav ul {
  margin-left: 80px;
  margin-right: 80px;
  color: #707070;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(6, minmax(70px, 1fr));
}

.accounts {
  grid-column: 1 / span 3;
  background-color: #fafafa;
  border: 1px solid #d5d5d5;
  color: #707070;
  padding-left: 80px;
  padding-right: 80px;
}

.accounts form p input {
  border: 1px solid #bbbbbb;
  padding: 0 10px;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.accounts form p,
.accounts form button,
.accounts form a {
  display: inline-block;
}

footer {
  grid-column: 1 / span 3;
}
