{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div>
  <div class="all_products"><h3>{{ title }}</h3></div>
  <div class="products_filter" style="padding-left: 10px;">
    <a href="?sort=updated_at" class="{% if sort_option == 'updated_at' %}btn-active{% else %}btn{% endif %}">날짜순</a>
    |
    <a href="?sort=views" class="{% if sort_option == 'views' %}btn-active{% else %}btn{% endif %}">조회순</a>
  </div>
  <div class="product-content">
    {% for product in products %}
        <a href="{% url 'product_detail' product.pk %}">
        <div class="product-item">
            <img src="/shop{{ product.header_image.url }}" alt="{{ product.title }}" width="150px">
            <p>{{ product.title }}</p>
            <p>{{ product.price|intcomma }} 원</p>
        </div>
        </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
