{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div>
  <h1>회사소개</h1>
  <img class="right-image" src="{% static 'images/로고_블랙.png' %}" alt="국제종합상사 로고"/>
  <p>
    안녕하십니까? <br/> 국제종합상사 대표 최승설입니다.<br/><br/>
    저희 국제종합상사를 아끼고 이용해 주시는 고객 여러분께 진심으로 감사드리며 <br/>홈페이지 방문을 환영합니다.<br/><br/>
    저희 국제종합상사는 도.소매 전문으로 하는 종합상사이며 전세계 미국.일본.중국.베트남.태국 등 수출을 하고 있으며 198개 전세계 진출을 목표로 하고 있습니다.<br/><br/>
    궁금한 사항이나 문의사항이 있으시면 언제든지 연락주시면 친절히 <br/>상담해드리겠습니다.<br/>
    감사합니다.<br/><br/>
    -국제종합상사-
</p>
</div>
{% endblock %}