{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}한국종합상사{% endblock %}</title>
    <meta
      name="description"
      content="국제종합상사는 최고의 상품 거래 플랫폼입니다. 신뢰할 수 있는 거래와 다양한 상품을 제공합니다."
    />
    <meta
      name="keywords"
      content="국제종합상사, 상품 거래, 국제 거래, 상품 플랫폼"
    />
    <meta name="author" content="국제종합상사" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <header>
        <button class="hamburger" aria-label="메뉴 열기">&#9776;</button>
        <ul class="header_menu">
          <li><a href="/">홈으로</a></li>
          <li><a>이용안내</a></li>
          <li><a>질문과답변</a></li>
          <hr class="custom-hr" />
          <li><a  href="{% url 'blog_list' %}">자유게시판</a></li>
          <hr class="custom-hr" />
          <li><a>주문내역</a></li>
          <li><a>마이페이지</a></li>
          <li><a>장바구니</a></li>
          <li><a>즐겨찾기</a></li>
        </ul>
      </header>
      <div class="search">
        <img src="{% static 'images/KJ_logo.png' %}" alt="logo" />
        <form>
          <input
            type="text"
            name="search"
            placeholder="검색어를 입력해주세요"
          />
          <button type="submit">상품검색🔍</button>
        </form>
      </div>

      <nav class="secondary-menu">
        <ul class="secondary-menu-list">
          <li><a href="#">자료실</a></li>
          <li><a href="#">개인결제</a></li>
          <li><a href="#">중고상품</a></li>
          <li><a href="#">A/S접수</a></li>
          <li><a href="#">고객센터</a></li>
          <li><a href="#">회사소개</a></li>
        </ul>
      </nav>
      <div class="account">
        <form class="account_form" method="post" action="{% url 'login' %}">
          {% csrf_token %} {% if user.is_authenticated %}
          <p class="account_p">
            {{ user.username }}님 안녕하세요,
            <a class="main_buttons" type="submit" href="{% url 'logout' %}"
              >로그아웃</a
            >
          </p>
          {% else %}
          <p class="account_p">
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" />
          </p>
          <p class="account_p">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" />
          </p>
          <button class="main_buttons" type="submit">로그인</button>
          <a class="main_buttons" href="{% url 'register' %}">회원가입</a>
          <a href="#" class="main_buttons">비밀번호 찾기</a>
          {% endif %}
        </form>
      </div>

      <!-- 왼족 주 카테고리 메뉴-->
      <content class="main_content">
        <article class="first_category">
          <ul>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/체육용품아이콘.png' %}"
                  alt="체육용품아이콘"
                />
                체육 용품
              </li></a
            >
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/유니폼의류아이콘.png' %}"
                  alt="유니폼의류아이콘"
                />유니폼의류
              </li></a
            >
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/에어용품_2.png' %}"
                  alt="에어 용품"
                />에어 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/낚시용품.png' %}"
                  alt="낚시 용품"
                />낚시 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/골프용품.png' %}"
                  alt="골프 용품"
                />골프 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/생활용품.png' %}"
                  alt="생활 용품"
                />생활 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/자동차용품.png' %}"
                  alt="자동차 용품"
                />자동차용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/호신용품.png' %}"
                  alt="호신 용품"
                />호신 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/사무용품.png' %}"
                  alt="사무 용품"
                />사무 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/어린이용품.png' %}"
                  alt="어린이 용품"
                />어린이용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/크리스마스용품.png' %}"
                  alt="크리스마스"
                />크리스마스
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/전자제품.png' %}"
                  alt="전자제품 용품"
                />전자 제품
              </li>
            </a>
          </ul>
        </article>
        <!-- content 블록을 main 태그 안에 배치 -->
        <main>{% block content %}{% endblock %}</main>
      </content>
    </div>
    <script>
      const hamburger = document.querySelector(".hamburger");
      const headerMenu = document.querySelector(".header_menu");

      hamburger.addEventListener("click", () => {
        headerMenu.classList.toggle("active");
      });
    </script>
  </body>
</html>
