{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}국제종합상사{% endblock %}</title>
    <meta
      name="description"
      content="국제종합상사는 최고의 상품 거래 플랫폼입니다. 신뢰할 수 있는 거래와 다양한 상품을 제공합니다."
    />
    <meta
      name="keywords"
      content="국제종합상사, 상품 거래, 국제 거래, 상품 플랫폼"
    />
    <meta name="author" content="국제종합상사" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <!-- 색깔 바 -->
      <!-- 오른쪽 상단 메뉴-->
      <div class="header">
        <ul>
          <li><a href="/">홈으로</a></li>
          <li><a href="{% url 'use_info' %}">이용안내</a></li>
          <li><a href="{% url 'post_list_by_category' 2 %}">질문과답변</a></li>
          <li><a href="{% url 'post_list_by_category' 3 %}">자유게시판</a></li>
          <li><a>주문내역</a></li>
          <li><a href="{% url 'my_page' %}">마이페이지</a></li>
          <li><a>장바구니</a></li>
          <li><a>즐겨찾기</a></li>
        </ul>
      </div>

      <!-- 검색창 -->
      <div class="search">
        <a href="/"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
        <form action="{% url 'product_search' %}" method="get" style="display: flex; align-items: center;">
          <input
            type="text"
            name="q"
            placeholder="검색어를 입력해주세요"
            value="{{ request.GET.q|default:'' }}"
          />
          <button type="submit" style="margin-left: 10px; width: 100px;">상품검색🔍</button>
        </form>
      </div>

      <div class="nav">
        <ul class="secondary-menu-list">
          <li><a href="{% url 'post_list_by_category' 6 %}">자료실</a></li>
          <li><a href="{% url 'category_detail' '개인 결제' %}">개인결제</a></li>
          <li><a href="{% url 'category_detail' '중고 상품' %}">중고상품</a></li>
          <li><a href="{% url 'post_list_by_category' 5 %}">A/S접수</a></li>
          <li><a href="{% url 'post_list_by_category' 4 %}">고객센터</a></li>
          <li><a href="{% url 'company_introduce' %}">회사소개</a></li>
        </ul>
      </div>

      <div class="accounts">
        <form class="account_form" method="post" action="{% url 'login' %}">
          {% csrf_token %} {% if user.is_authenticated %}
          <p class="account_p">
            <b>{{ user.userid }}</b>님 안녕하세요!
            <a class="logout_button accounts_a" type="submit" href="{% url 'logout' %}"
              >로그아웃</a
            >
            {% if user.user_type == "admin" %}
            <a
              style="background-color: #484848"
              class="setting_button accounts_a"
              href="{% url 'setting' %}"
              >관리자설정</a
            >
            {% endif %}
          </p>
          {% else %}
          <p class="account_p">
            <label for="username" style="margin-right: 5px">아이디</label>
            <input type="text" id="username" name="username" />
          </p>
          <p class="account_p" style="margin-left: 20px">
            <label for="password" style="margin-right: 5px">비밀번호</label>
            <input type="password" id="password" name="password" />
          </p>
          <button class="main_buttons" type="submit" style="margin-left: 20px">
            로그인
          </button>

          <a
            style="
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
            class="main_buttons accounts_a"
            href="{% url 'register' %}"
            >회원가입</a
          >
          <a
            style="
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
            href="#"
            class="main_buttons accounts_a"
            >비밀번호 찾기</a
          >
          {% endif %}
        </form>
        <a class="special-text">
          <span>도</span><span>매</span><span> </span><span>별</span><span>도</span><span>문</span><span>의</span>
        </a>
      </div>

      <tr>
        <td class="category">
          <ul class="category-menu">
            {% for category in categories %}
            <li>
              {% if category.image %} <img class="first_category_img_list"
              src="/shop{{category.image.url }}" alt="{{category.name}}" />
              <a href="{% url 'category_detail' category.name|urlencode  %}">{{ category.name }}</a>
              {% else %} <img class="first_category_img_list" src="{% static
              'images/기본이미지.png' %}" alt="{{category.name}}" />
              <a href="{% url 'category_detail' category.name|urlencode  %}">{{ category.name }}</a>
              {% endif %} {% if category.subcategories.all %}
              <ul class="sub-category-menu">
                {% for subcategory in category.subcategories.all %}
                <li>
                  {% if subcategory.content_type == "글" %}
                  <span class="icon">📄</span>
                  {% elif subcategory.content_type == "사진" %}
                  <span class="icon">🏞️</span>
                  {% endif %}
                  <a href="{% url 'category_detail' subcategory.name %}"
                    >{{ subcategory.name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
            <li>
              <a><img src="{% static 'images/고객센터_이미지.png' %}"/></a>
            </li>
            <li>
              <a><img src="{% static 'images/네이버_이미지.png' %}"/></a>
            </li>
            <li>
              <a><img src="{% static 'images/대한통운_이미지.png' %}"/></a>
            </li>
            <li>
              <a><img src="{% static 'images/무통장입금_이미지.png' %}"/></a>
            </li>
          </ul>
          
        </td>
        <td class="main">{% block content %}{% endblock %}</td>
        <td class="aside">
          <div class="aside_div">
            <p>오늘 본 상품</p>
            <hr />
        {% if recently_viewed_products %}
            <ul style="
            margin: 0px;
            padding: 0px;
            ">
                {% for product in recently_viewed_products %}
                <li>
                    <a href="{% url 'product_detail' product.pk %}">
                        <img style="width: 120px; height: 120px"src="{{ product.header_image.url }}" alt="{{ product.title }}">
                        <p>{{ product.title }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>최근 본 상품이 없습니다.</p>
        {% endif %}
          </div>
        </td>
      </tr>
      <footer>
        <div>
          <table>
            <tr class="footer_header">
              <td style="width: 170px;"><a href="/">홈으로</a></td>
              <td><a href="{% url 'use_info' %}">이용안내</a></td>
              <td><a href="{% url 'usage_policy' %}">이용약관</a></td>
              <td><a>개인정보취급방침</a></td>
              <td><a>제휴문의</a></td>
              <td><a href="{% url 'post_list_by_category' 2 %}">질문과답변</a></td>
              <td><a>자주하는질문</a></td>
              <td><a>온라인견적서</a></td>
            </tr>
            <tr style="background-color: #f2f2f2;">
              <td>
                <img src="{% static 'images/로고_투명.png' %}" width="170px" logo="로고"/>
              </td>
              <td colspan="7">
                <span>상담시간</span> 평일 09:00 ~ 18:00 (주말/공휴일 전화상담가능) <br/>
                <span>상담 및 문의 전화</span> 010-4242-4967(choiss1318@hanmail.net)
                <hr>
                <span>상호</span> 국제종합상사 | 경기도 의왕시 부곡중앙로7 3층 <br/>
                <span>사업자등록번호</span> 486-0747241-011-0 <span>통신판매업신고</span> 제 2024-경기의왕-0510 호<br/>
                <span>대표</span> 최승설 | <span>개인정보 관리책임자</span> 최승설 | <span>개인정보 보호기간</span> 회원탈퇴
              </td>
            </tr>
          </table>
        </div>
      </footer>
    </div>
  </body>
</html>
