{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}국제종합상사{% endblock %}</title>
    <meta
      name="description"
      content="국제종합상사는 최고의 상품 거래 플랫폼입니다. 신뢰할 수 있는 거래와 다양한 상품을 제공합니다."
    />
    <meta
      name="keywords"
      content="국제종합상사, 상품 거래, 국제 거래, 상품 플랫폼"
    />
    <meta name="author" content="국제종합상사" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <!-- 색깔 바 -->
      <!-- 오른쪽 상단 메뉴-->
      <div class="header">
        <ul>
          <li><a href="/">홈으로</a></li>
          <li><a>이용안내</a></li>
          <li><a>질문과답변</a></li>
          <li><a>자유게시판</a></li>
          <li><a>주문내역</a></li>
          <li><a>마이페이지</a></li>
          <li><a>장바구니</a></li>
          <li><a>즐겨찾기</a></li>
        </ul>
      </div>

      <!-- 검색창 -->
      <div class="search">
        <a href="/"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
        <form>
          <input
            type="text"
            name="search"
            placeholder="검색어를 입력해주세요"
          />
          <button type="submit">상품검색🔍</button>
        </form>
      </div>

      <div class="nav">
        <ul class="secondary-menu-list">
          <li><a href="#">자료실</a></li>
          <li><a href="#">개인결제</a></li>
          <li><a href="#">중고상품</a></li>
          <li><a href="#">A/S접수</a></li>
          <li><a href="#">고객센터</a></li>
          <li><a href="#">회사소개</a></li>
        </ul>
      </div>

      <div class="accounts">
        <form class="account_form" method="post" action="{% url 'login' %}">
          {% csrf_token %} {% if user.is_authenticated %}
          <p class="account_p">
            <b>{{ user.username }}</b>님 안녕하세요!
            <a class="logout_button" type="submit" href="{% url 'logout' %}"
              >로그아웃</a
            >
            {% if user.user_type == "admin" %}
            <a class="setting_button" href="{% url 'setting' %}">관리자설정</a>
            {% endif %}
          </p>
          {% else %}
          <p class="account_p">
            <label for="username" style="margin-right: 5px">아이디</label>
            <input type="text" id="username" name="username" />
          </p>
          <p class="account_p" style="margin-left: 20px">
            <label for="password" style="margin-right: 5px">비밀번호</label>
            <input type="password" id="password" name="password" />
          </p>
          <button class="main_buttons" type="submit" style="margin-left: 20px">
            로그인
          </button>

          <a
            style="
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
            class="main_buttons"
            href="{% url 'register' %}"
            >회원가입</a
          >
          <a
            style="
              margin-left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
            href="#"
            class="main_buttons"
            >비밀번호 찾기</a
          >
          {% endif %}
        </form>
      </div>

      <tr>
        <td class="category">
          <ul class="category-menu">
            {% for category in categories %}
            <li>
              <img class="first_category_img_list"
              src="/shop{{category.image.url }}" alt="{{category.name}}" /
              <a href="#">{{category.name}}</a>
              {% if category.subcategories.all %}
              <ul class="sub-category-menu">
                {% for subcategory in category.subcategories.all %}
                <li>
                  {% if subcategory.content_type == "글" %}
                  <span class="icon">📄</span>
                  {% elif subcategory.content_type == "사진" %}
                  <span class="icon">🏞️</span>
                  {% endif %}
                  <a href="{% url 'category_detail' subcategory.name %}"
                    >{{ subcategory.name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          <!-- 
          <ul>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/에어용품_2.png' %}"
                  alt="에어 용품"
                />에어 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/전자제품.png' %}"
                  alt="전자제품 용품"
                />전자 제품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/골프용품.png' %}"
                  alt="골프 용품"
                />골프 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/낚시용품.png' %}"
                  alt="낚시 용품"
                />낚시 용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/체육용품아이콘.png' %}"
                  alt="체육용품아이콘"
                />
                체육 용품
              </li></a
            >
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/탈인형.png' %}"
                  alt="탈인형"
                />탈인형
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/생활용품.png' %}"
                  alt="생활용품"
                />생활용품
              </li>
            </a>
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/유니폼의류아이콘.png' %}"
                  alt="유니폼의류아이콘"
                />유니폼의류
              </li></a
            >
            <a href="">
              <li class="first_category_li">
                <img
                  class="first_category_img_list"
                  src="{% static 'images/상점.png' %}"
                  alt="도매상품문의"
                />도매 상품 문의
              </li>
            </a>
          </ul>
          -->
        </td>
        <td class="main">{% block content %}{% endblock %}</td>
        <td class="aside">최근 본 상품 목록</td>
      </tr>
      <footer></footer>
    </div>
  </body>
</html>
