{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_list.css' %}">
    <title>자유게시판</title>
</head>
<body>
    <h3>자유게시판</h3>
    <div class="action-container">
        {% if user.is_authenticated %}
        <a href="{% url 'create_blog' %}" class="new_post">새 글 쓰기</a>
        {% endif %}
    </div>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Category</th>
                <th>Subject</th>
                <th>Writer</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for b in blog_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ b.category }}</td>
                <td><a href="{{ b.get_absolute_url }}">{{ b.title }}</a></td>
                <td>{{ b.writer }}</td>
                <td>{{ b.created_at|date:"Y.m.d H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align: center;">등록된 글이 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
