{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_detail.css' %}">
    <title>{{ blog.title }}</title>
</head>
<body>
    <div class="blog-actions">
        <!-- 수정 버튼 -->
        <form action="{% url 'update_blog' pk=blog.pk %}" method="get">
            <button type="submit" class="btn btn-edit">수정</button>
        </form>

        <!-- 삭제 버튼 -->
        <form action="{% url 'delete_blog' pk=blog.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-delete" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
        </form>
    </div>
    <div class="blog-container">
        <h1 class="blog-title">{{ blog.title }}</h1>
        <p class="blog-date">작성일: {{ blog.created_at }}</p>
        
        {% if blog.head_image %}
            <img src="{{ blog.head_image.url }}" alt="Blog Image">
        {% endif %}
        
        <div class="blog-content">
            <p>{{ blog.content }}</p>
        </div>
        
        {% if blog.file_upload %}
            <a href="{{ blog.file_upload.url }}" class="btn btn-edit">파일 다운로드</a>
        {% endif %}
        
    </div>
</body>
</html>
{% endblock %}