{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    <title>체육 용품</title>
</head>
<body>
    <div class="page-header">
        <h3>체육 용품</h3>
        <button class="new-post-button">
            <a href="{% url 'create_post' %}">새 글 쓰기</a>
        </button>
    </div>

    <hr>

    <div class="item-container">
        {% for p in post_list %}
        <div class="item">
            <a href="{{ p.get_absolute_url }}">
                {% if p.head_image %}
                <div class="item-img">
                    <img src="{{ p.head_image.url }}" alt="{{ p.title }}">
                </div>
                {% endif %}
                <div class="item-title">
                    <p>{{ p.title }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
