{% extends 'base.html' %} {% block content %}
<div class="content_register">
  <h2>회원가입</h2>
  <p style="color: #707070">
    회원가입 하시기전 이용약관 및 개인정보취급방침에 동의하셔야 합니다.<br />
    고객님의 정보를 보호 하기위해 각별히 주의하겠습니다.<br />
    회원가입을 통하여 보다 편리하게 홈페이지를 이용하실 수 있습니다.
  </p>
  <h3>
    회원 가입폼
    <span style="font-size: 12px; font-weight: 300"
      >(<span class="color_red">*</span> 표시는 필수 항목입니다. 반드시 기입하여
      주십시오)</span
    >
  </h3>
  <div class="form_text" style="height: 800px">
    <form action="#">
      <!-- 아이디 -->
      <label><span>*</span>아이디</label>
      <div>
        <input type="text" name="register_userid" />
        <a>아이디중복검색</a>
      </div>
      <!-- 비밀번호 -->
      <label><span>*</span>비밀번호</label>
      <div style="display: flex; align-items: center">
        <input type="password" name="register_password" />
        <label style="width: 100px; margin-left: 10px; margin-right: 12px"
          ><span>*</span>비밀번호확인</label
        >
        <input type="password" name="register_password_confirm" />
      </div>
      <!-- 이름 -->
      <label><span>*</span>이름</label>
      <div>
        <input
          type="text"
          name="register_username"
          value="{{register_username}}"
        />
      </div>
      <!-- 회사명 -->
      <label>회사명</label>
      <div>
        <input type="text" name="register_company" />
      </div>
      <!-- 성별 -->
      <label>성별</label>
      <div style="display: flex; align-items: center">
        남성<input
          style="width: 15px; margin-right: 10px"
          name="gender"
          value="male"
          type="radio"
          checked
        />
        여성<input
          style="width: 15px"
          name="gender"
          value="female"
          type="radio"
        />
      </div>
    </form>
  </div>
</div>
{% endblock %}
